<!DOCTYPE html>
<html>
  <head>

    <!-- Google Tag Manager  with turbolinks https://medium.com/@vhbueno/rails-5-turbolinks-and-google-tag-manager-b3c4c30c3fb7-->
    <% if Rails.env.production? %>
    <script>
    document.addEventListener('turbolinks:load', function(event) {
      var url = event.data.url;
      dataLayer.push({
        'event':'pageView',
        'virtualUrl': url
      });
    });
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MWW256J');
    </script>
    <% end %>
    <!-- End Google Tag Manager -->

    <title>test</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- viewport-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MWW256J"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="container">
      <h5><%= link_to "top", "/" %></h5>
      <%= yield %>
    </div>
  </body>
</html>
